### Inverted Number Pattern

Pattern for N = 4

4444
333
22
1

In [3]:
def numPattern(n):
    
    for i in range(n):
        print(str(n-i)*(n-i))

In [4]:
numPattern(4)

4444
333
22
1

In [6]:
def starPattern1(n):
    
    for i in range(n):
        no_space = n - i - 1
        print(" " * no_space, end='')
        print("*" * (i+1))

In [7]:
starPattern1(5)

    *
   **
  ***
 ****
*****

### Mirror Number Pattern

Pattern for N = 4

   1 
  12
 123
1234

In [14]:
def numPattern1(n):
    
    for i in range(n+1):
        no_space = n - i
        print(" " * no_space, end='')
        for j in range(1, i+1):
            print(j, end='')
        print()

In [15]:
numPattern1(4)

   1
  12
 123
1234

### Isosceles Pattern

In [33]:
def isosceles_patt1(n):

    for i in range(n):
        no_space = n - i
        print(" " * no_space, end='')
        for j in range(1, i+1):
            print(j, end='')
        for j in range(i+1, 0, -1):
            print(j, end='')
        print()

In [34]:
isosceles_patt1(4)

    1
   121
  12321
 1234321

In [24]:
list(range(1, 0, -1))

[1]

### Star Pattern

In [51]:
def isosceles_patt2(n):

    for i in range(n):
        no_space = n - i - 1
        print(" " * no_space, end='')
        for j in range(1, i+1):
            print("*", end='')
        for j in range(i+1, 0, -1):
            print("*", end='')
        print()

In [52]:
isosceles_patt2(4)

   *
  ***
 *****
*******

### Star Pattern with numbers

In [69]:
def isosceles_patt3(n):

    for i in range(n):
        no_space = n - i - 1
        print(" " * no_space, end='')
        for j in range(1, i+1):
            print(j, end='')
        for j in range(i+1, 0, -1):
            print(j, end='')
        print()

In [70]:
isosceles_patt3(4)

   1
  121
 12321
1234321

In [318]:
def isosceles_patt4(n):

    for i in range(n):
        
        # printing the space 
        no_space = n - i - 1
        print(" " * no_space, end='')
        
        # left side 
        count = i
        num = i + 1
        while count >= 0:
            print(num, end='')
            num += 1
            count -= 1
        
        # right side 
        count = i
        num = i * 2 
        while count > 0:
            print(num, end='')
            num -= 1
            count -= 1
        
        print()

In [319]:
isosceles_patt4(4)

   1
  232
 34543
4567654

### Diamond of stars

In [323]:
5// 2

2

In [351]:
def dim_starts(n):
    
    upper = n // 2 + 1
    lower = n - upper
    for i in range(upper):
        no_space = upper - i - 1
        print(" " * no_space, end='')
        for j in range(1, i+1):
            print("*", end='')
        for j in range(i+1, 0, -1):
            print("*", end='')
        print()
    
    for i in range(1, lower+1):
        no_space = i
        print(" " * no_space, end='')
        print("*" * (n - no_space*2), end='')
        print()

In [352]:
dim_starts(7)

   *
  ***
 *****
*******
 *****
  ***
   *

### Number Pattern

In [379]:
def num_pattern(n):
    for i in range(1, n+1):
        no_spaces = (n - i) * 2
        
        # print left side 
        for l in range(1, i+1):
            print(l, end='')
        
        # print space
        print(" "* no_spaces, end='')
        
        # print right side
        for r in range(i, 0, -1):
            print(r, end='')
            
        print()

In [380]:
num_pattern(5)

1        1
12      21
123    321
1234  4321
1234554321

### Zeros and Stars Pattern

Pattern for N = 4

*000*000*
0*00*00*0
00*0*0*00
000***000

In [3]:
def zero_start(n):
    for i in range(n):
        for j in range(n):
            if (i == j):
                print("*", end='')
            else:
                print("0", end='')
        print("*")

In [4]:
zero_start(4)

*000*
0*00*
00*0*
000**

In [27]:
def zero_start(n):
    
    for i in range(n):
        for j in range(n):
            if (i == j):
                print("*", end='')
            else:
                print("0", end='')
        print("*", end='')
        for j in range(n):
            if (i+j == n-1):
                print("*", end='')
            else:
                print("0", end='')
        print()

In [28]:
zero_start(4)

*000*000*
0*00*00*0
00*0*0*00
000***000

### Pyramid Number Pattern

Pattern for N = 4
   1
  212
 32123
4321234

In [50]:
def pyraNumPat(n):
    
    for i in range(n):
        
        no_space = n - i - 1
        print(" " * no_space, end='')
        
        for j in range(i+1, 0, -1):
            print(j, end='')
            
        for k in range(2, i+2, 1):
            print(k, end='')
        print()

In [51]:
pyraNumPat(4)

   1
  212
 32123
4321234

In [35]:
list(range(2,3,1))

[2]

### Arrow pattern

Note : There is space after every star.
Pattern for N = 11
* 
 * * 
  * * * 
   * * * * 
    * * * * * 
     * * * * * * 
    * * * * * 
   * * * * 
  * * * 
 * * 
*

In [52]:
7 // 2

3

In [170]:
def arrowPat(n):
    
    upper = n // 2 + 1
    lower = n - upper 
    
    no_space = 0
    for i in range(upper):
        print(" " * i, end='')
        
        for j in range(i+1):
            print("* ", end='')
        print()


    no_space = lower-1
    for i in range(lower, 0, -1):
        print(" " * no_space, end='')
        
        for j in range(i):
            print("* ", end='')
        no_space -= 1
        print()

In [171]:
arrowPat(7)

*
 * *
  * * *
   * * * *
  * * *
 * *
*

In [172]:
arrowPat(11)

*
 * *
  * * *
   * * * *
    * * * * *
     * * * * * *
    * * * * *
   * * * *
  * * *
 * *
*