### Pattern 1

In [1]:
def patterns1(n):
    for i in range(n):
        print("*"*n)

In [2]:
patterns1(5)

*****
*****
*****
*****
*****

### Square Pattern

Pattern for N = 4

4444
4444
4444
4444

In [3]:
def squarPattern(n):
    
    for i in range(n):
        print(str(n)*n)

In [4]:
squarPattern(7)

7777777
7777777
7777777
7777777
7777777
7777777
7777777

### Traingle Pattern

In [19]:
def tringlePattern1(n):
    
    for i in range(n):

        # print numbers
        j = 1
        while (j <= i + 1):
            print(j, end='')
            j += 1
        
        # print enter(next line)
        print()

In [20]:
tringlePattern1(4)

1
12
123
1234

In [21]:
def tringlePattern2(n):
    
    for i in range(1, n+1):        
        # print numbers
        j = 1
        start = i
        while (j <= i):
            print(start, end='')
            start += 1
            j += 1
            
        
        # print enter(next line)
        print()

In [22]:
tringlePattern2(4)

1
23
345
4567

In [23]:
def tringlePattern3(n):
    
    start = 1
    for i in range(1, n+1):        
        # print numbers
        j = 1
        while (j <= i):
            print(start, end='')
            start += 1
            j += 1
            
        
        # print enter(next line)
        print()

In [24]:
tringlePattern3(4)

1
23
456
78910

### Triangular Star Pattern

Pattern for N = 4

*
**
***
****

In [25]:
def tringlePattern4(n):
    
    for i in range(1, n+1):

        # print star
        print("*"*i)

In [26]:
tringlePattern4(4)

*
**
***
****

### Triangle Number Pattern

Pattern for N = 4

1
22
333
4444

In [28]:
def tringlePattern5(n):
    
    for i in range(1, n+1):        
        print(str(i)*i)

In [29]:
tringlePattern5(4)

1
22
333
4444

### Reverse Number Pattern

Pattern for N = 4

1
21
321
4321

In [31]:
def tringlePattern6(n):
    
    for i in range(1, n+1):        
        j = i
        while(j >= 1):
            print(j, end='')
            j -= 1
        print()

In [32]:
tringlePattern6(4)

1
21
321
4321

### "kth" character

In [35]:
ord("A")

65

In [36]:
chr(65)

'A'

### Character Pattern

Pattern for N = 4

A
BC
CDE
DEFG

In [51]:
def charPattern1(n):
    startChar = ord("A")
    for i in range(n):
        
        # print the alphabet
        j = 0
        start = i

        while (j <= i):
            print(chr(startChar+start), end='')
            start += 1
            j += 1
        start = start
        print()

In [52]:
charPattern1(4)

A
BC
CDE
DEFG

### Interesting Alphabets

Pattern for N = 5

E
DE
CDE
BCDE
ABCDE

In [62]:
def charPattern2(n):
    startChar = ord("A") + n
    for i in range(1, n+1):
        
        # print the alphabet
        j = 0
        start = i

        while (j < i):
            print(chr(startChar-start), end='')
            start -= 1
            j += 1
        start = start
        print()

In [63]:
charPattern2(5)

E
DE
CDE
BCDE
ABCDE

### Number Pattern 1

Pattern for N = 4

1
11
111
1111

In [64]:
def numPattern1(n):
    
    for i in range(1, n+1):

        # print number
        print("1"*i)

In [65]:
numPattern1(4)

1
11
111
1111

### Number Pattern 2

Pattern for N = 4

1
11
202
3003

In [85]:
def numPattern2(n):
    
    for i in range(n):

        if i == 0:
            print(1)
        else:
            no_zero = i - 1
            print(i, end='')
            if no_zero:
                print("0" * no_zero, end='')
            print(i)

In [86]:
numPattern2(5)

1
11
202
3003
40004

### Number Pattern 3

Pattern for N = 4

1
11
121
1221

In [93]:
def numPattern3(n):
    
    for i in range(n):

        if i == 0:
            print(1)
        else:
            no_zero = i - 1
            print(1, end='')
            if no_zero:
                print(str(2) * no_zero, end='')
            print(1)

In [94]:
numPattern3(4)

1
11
121
1221

### Number Pattern 4

Pattern for N = 4

1234
123
12
1

In [101]:
def numPattern4(n):
    
    for i in range(n):
        for j in range(1, n-i+1):
            print(j, end='')
        print()

In [102]:
numPattern4(4)

1234
123
12
1

### Alpha Pattern

Pattern for N = 3
 A
 BB
 CCC

In [103]:
def alphaPattern4(n):
    
    startChar = ord("A")
    for i in range(n):
        print(chr(startChar)*(i+1))
        startChar += 1

In [104]:
alphaPattern4(4)

A
BB
CCC
DDDD