### Print Number Pyramid

Print the following pattern for a given n.
For eg. N = 6

123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

In [41]:
def numPyramid(n):
    
    # Upper Triangle 
    for i in range(n-1):
        space = i
        print(' '*space, end='')
        
        for j in range(i+1, n+1):
            print(j, end='')
        print()
    
    # Lower Triangle 
    for i in range(n):
        space = n-i-1
        print(' '*space, end='')
        
        for j in range(n-i, n+1):
            print(j, end='')    
        print()

In [42]:
numPyramid(6)

123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

In [32]:
list(range(1, 6))

[1, 2, 3, 4, 5]

### Diamond of Stars

In [90]:
def diaStar(n):
    
    # Upper Tringle
    upper = n // 2 + 1
    for i in range(upper):
        print(' '* (upper-i-1), end='')
        print("*" * (2*i + 1), end='')
    
        print()
    
    # Lower Traingle 
    lower = n - upper
    for i in range(lower, 0, -1):
        print(' '* (lower-i+1), end='')
        print("*" * (2*i - 1), end='')
    
        print()

In [92]:
diaStar(7)

   *
  ***
 *****
*******
 *****
  ***
   *

In [45]:
5 // 2

2

In [59]:
list(range(1, 1))

[]

*****
 ***
  *

In [72]:
list(range(3, 0, -1))

[3, 2, 1]

In [132]:
def recNum(n):
    for i in range(n):
        for j in range(n, n-i, -1):
            print(j, end='')
            last = j
        remaining = n +1 - len(range(n, n-i, -1))
        print(f"  {remaining}")

In [133]:
recNum(4)

  5
4  4
43  3
432  2

In [115]:
list(range(4,4-1, -1))

[4]

In [108]:
list(range(4,4-2, -1))

[4, 3]

In [109]:
list(range(4,4-3, -1))

[4, 3, 2]

In [111]:
list(range(4,4-4, -1))

[4, 3, 2, 1]

### Print the pattern

Pattern for N = 5

 1    2   3    4   5
 11   12  13   14  15
 21   22  23   24  25
 16   17  18   19  20
 6    7    8   9   10

In [66]:
def foo(n):
    
    if n%2 == 0:
        upper = n//2
    else:
        upper = n//2 + 1

    lower = n-upper

    # printing the upper side
    for i in range(0, upper):
        for j in range(1, n+1):
            print(i*n*2 + j, end = ' ')
        print()
        
    # printing the lower side
    for i in range(lower, 0, -1):
        for j in range(1, n+1):
            print(i*n*2 + j - n, end = ' ')
        print()

In [67]:
foo(5)

1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10

In [69]:
foo(8)

1 2 3 4 5 6 7 8
17 18 19 20 21 22 23 24
33 34 35 36 37 38 39 40
49 50 51 52 53 54 55 56
57 58 59 60 61 62 63 64
41 42 43 44 45 46 47 48
25 26 27 28 29 30 31 32
9 10 11 12 13 14 15 16

### Rectangular numbers

Pattern for N = 4

4444444
4333334
4322234

4321234
4322234
4333334  
4444444

In [61]:
def recNumbersUpper(n):
    for i in range(0, n):
        s = n
        start1 = 0
        start2 = n-i

        for j in range(0, n):
            if start1 < i:
                print(s, end='')
                s -= 1
                start1 += 1
            else:
                print(s, end ='')
        
        for j in range(1, n):
            if start2 > j:
                print(start2, end = '')
            else:
                print(start2+1, end = '')
                start2 += 1
        
        print()

In [77]:
recNumbersUpper(4)

4444444
4333334
4322234
4321234

In [75]:
def recNumbersLower(n):
    for i in range(0, n):
        s = n
        start1 = 0
        start2 = n-i

        for j in range(0, n):
            if start1 >= i:
                print(s, end='')
            else:
                print(s, end ='')

                s -= 1
                start1 += 1
        print()

In [76]:
recNumbersLower(4)

4444
4333
4322
4321

In [78]:
n = int(input())

for i in range(1, n+1, 1):
    for up in range(1, i, 1):
        print(n-up+1,end = '')
        
    for j in range(i, 2*n-i+1, 1):
        print(n-i+1,end = '')
    
    for lp in range(2*n-i, 2*n-1, 1):
        print(lp-n+2,end = '')
    
    print()


for i in range(n-1, 0, -1):
    for up in range(1, i, 1):
        print(n-up+1,end = '')
        
    for j in range(i, 2*n-i+1, 1):
        print(n-i+1,end = '')
    
    for lp in range(2*n-i, 2*n-1, 1):
        print(lp-n+2,end = '')
    
        
    print()

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444